body {
    margin: 0;
}

canvas {
    border: 4pt solid whitesmoke; 
    width: 70%;
    position: absolute;
    top:25px; bottom:0; right: 0; left: 0;
    margin: auto;
}

h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25pt;
    color: cyan;
}

a {
    color: cyan;
}

table, th, td {
    border: 2.3px solid rgb(27, 127, 134);
    font-size: 101%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(27, 127, 134);
    background-color: aquamarine;
    margin-left: 86.4%;
}