body {
            margin: 0;
            border: 4pt solid aquamarine;
            border-radius: 6px;
        }

        h1 {
            color: lightblue;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 68pt;
            text-align: center;
        }

        h2 {
            color: lightblue;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 59.5pt;
            text-align: center;
        }

        a {
            border: 3pt solid rgb(27, 127, 134);
            background-color: aquamarine;
            color: rgb(27, 127, 134);
            border-radius: 6px;
        }

        #formDiv {
            padding-top: 10px;
            padding-bottom: 20px;
            color: lightblue;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 59.5pt;
            text-align: center;
        }

        input[type=text], select {
            width: 35%;
            padding-top: 17px;
            padding-bottom: 17px;
            margin-top: 0;
            margin-bottom: -50px;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type=password], select {
            width: 35%;
            padding-top: 17px;
            padding-bottom: 17px;
            margin-top: -10px;
            margin-bottom: 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type=submit], select {
            width: 10%;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-top: 30px;
            display: inline-block;
            border-radius: 4px;
            box-sizing: border-box;
            border: 3pt solid rgb(27, 127, 134);
            background-color: aquamarine;
        }

        input[type=button], select {
            width: 10%;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-top: 30px;
            display: inline-block;
            border-radius: 4px;
            box-sizing: border-box;
            border: 3pt solid rgb(27, 127, 134);
            background-color: aquamarine;
        }

        input[value=Log-in], select {
            color: rgb(27, 127, 134);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 23.8pt;
            font-weight: bold;
            text-underline-position: below;
            text-decoration: underline;
        }

        input[value=Register], select {
            color: rgb(27, 127, 134);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 23.8pt;
            font-weight: bold;
            text-underline-position: below;
            text-decoration: underline;
        }

        hr {
            width: 60%;
        }

        label {
            font-size: 14pt; 
        }