<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>p4 Golden</title>
    <script src="//cdn.jsdelivr.net/npm/phaser@3.11.0/dist/phaser.js"></script>
    <link rel="icon" href="{{ url_for('static', filename='assets/hero-face.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/styles/game.css') }}">
</head>
<body bgcolor="#111111">
    <canvas width="750" height="450" id="myCanvas"></canvas>
    <script type="module" src="{{ url_for('static',filename='p4Gamejs/main.mjs') }}"></script>
    <h2><a href="http://127.0.0.1:5000/">Return to home page</a> - <a href="http://127.0.0.1:5000/game">Restart</a></h2>
    <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Game-Name</th>
                    <th>Best Gold</th>
                </tr>
            </thead>
            <tbody>
                <tr id="r0">
                    <td>1.</td>
                </tr>
                <tr id="r1">
                    <td>2.</td>
                </tr>
                <tr id="r2">
                    <td>3.</td>   
                </tr>
                <tr id="r3">
                    <td>4.</td>
                </tr>
                <tr id="r4">
                    <td>5.</td>
                </tr>
                <tr id="r5">
                    <td>6.</td>   
                </tr>
                </tr>
                <tr id="r6">
                    <td>7.</td>
                </tr>
                <tr id="r7">
                    <td>8.</td>   
                </tr>
                <tr id="r8">
                    <td>9.</td>
                </tr>
                <tr id="r9">
                    <td>10.</td>
                </tr>
            </tbody>
        </table>
        <!-- <script src="../static/p4Gamejs/ranks.js"></script> -->
        <script type='module' src="{{ url_for('static',filename='p4Gamejs/ranks.mjs') }}"></script>
</body>
</html>